// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
 font-family:monospace; 
 font-size:10pt;
 height: 90px;
 width: 413px;
}

.headerPage {
  font-family:Verdana, Arial, Geneva, sans-serif; 
  font-size: 10pt; 
  color:#222222;
}

.textField input {
	width: 400px;
}

.title { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 10pt; 
	color:#828282; 
}

.urlTitle { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 8pt; 
	color:#828282; 
}

.urlTitle:hover {
	text-decoration:underline; 
}

.subtitle { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 7pt; 
	color:#828282; 
}

.threads { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 8pt; 
	color:#828282;
	text-decoration: none; 
}

.subtitle a:link, .subtitle a:visited { 
	color:#828282; 
}

.subtitle a:hover { 
	text-decoration:underline; 
	color:#828282;
}

.subtitle td { 
	font-family:Verdana, Geneva, sans-serif; 
	font-size: 8pt; 
	color:#828282; 
}

.linkUnderline:hover {
	text-decoration:underline;
}

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000
}
a:hover {
	background-color: transparent;
}

.alert {
	color: red;
	font-weight: bold;
}

.votes {
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 6px;
}

.comment {
	color: #000000
}